.shop-container {
    /* padding: 50px; */
    position: relative;
    margin-top: 200px;
}

.sticky-item {
    height: 100vh;
    position: sticky;
    top: 100px;
}

@media only screen and (max-width: 576px) {
    .cart-container {
        height: 40vh;
        width: 100vw;
    }
    /* .cart-container {
        margin-top: 200px;
    } */
}