.sticky-item {
    height: 100vh;
    position: sticky;
    top: 100px;
}

@media only screen and (max-width: 576px) {
    .cart-container {
        background-color: aqua;
        height: 180px;
        /* position: sticky; */
        top: 80px;
        left: 0;
        right: 0;
        margin-bottom: 20px;
    }
}