.cart {
    text-align: center;
}

.title {
    margin-top: 20px;
}

@media only screen and (max-width: 576px) {
    .product-info {
        display: flex;
    }
    .product-info p {
        margin-left: 12px;
        box-sizing: border-box;
    }
    .title {
        margin-top: 0px;
    }
}