.product {
    /* width: 300px;
    height: 580px; */
    border-radius: 8px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


/* .product img {
    background-color: rgb(171, 213, 250);
    width: 95%;
    height: 280px;
    border-radius: 20px;
} */

.product-name {
    margin: 0px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.product-price {
    margin: 0px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
}

.cartButton {
    width: 100%;
    border: none;
    background-color: #ffe0b3;
    font-family: "Lato";
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    /* --------- */
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.cartButton p {
    margin: 0px;
    padding: 12px;
}

.cartButton:hover {
    background-color: orange;
}


/* ------------cart-container---------------- */

.cart-container {
    background: rgba(255, 153, 0, 0.3);
    border-radius: 10px;
}

.cart-container .title {
    text-align: center;
}

.skeleton {
    z-index: 000000;
    overflow: hidden;
}