.header-nav {
    height: 80px;
    width: 100%;
    background-color: #1c2b35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}

.header-info {
    align-items: right;
}

.header-nav a {
    text-decoration: none;
    margin-left: 36px;
    padding: 10px;
    color: white;
    font-weight: 600;
}

.header-nav a:hover {
    color: orange;
}

.header-sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.barContainer {
    display: none;
}

.barIcon {
    color: white;
    font-size: 24px;
    margin-right: 60px;
    display: none;
}

#check {
    display: none;
}

@media screen and (max-width: 972px) {
    .barContainer {
        display: block;
    }
    .barIcon {
        display: block;
    }
    /* .header-sticky {
        position: static;
    } */
    /* ------------------------ */
    .header-info {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: blueviolet;
        top: 80px;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s;
    }
    .header-info a {
        color: rgb(255, 255, 255);
        font-size: 16px;
        cursor: pointer;
    }
    a :hover {
        color: orange;
        background-color: none;
    }
    #check:checked~.header-info {
        left: 0%;
    }
}