.header-nav {
    height: 80px;
    width: 100%;
    background-color: #1c2b35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}

.header-nav a {
    text-decoration: none;
    margin-left: 36px;
    padding: 10px;
    color: white;
    font-weight: 600;
}

.header-nav a:hover {
    color: orange;
}

.header-sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.barIcon {
    color: white;
    font-size: 24px;
    margin-right: 60px;
    display: none;
}

#check {
    display: none;
}

@media screen and (max-width: 972px) {
    .barIcon {
        display: block;
    }
    .header-info {
        display: none;
    }
    /* .header-sticky {
        position: static;
    } */
    .header-info {
        display: none;
    }
}