#custom-img {
    width: 120px;
    height: 120px;
    border-radius: 80px;
    padding: 5px;
}

#custom-icon {
    background-color: rgba(247, 184, 184, 0.637);
    border-radius: 40px;
}

.icon-container {
    text-align: right !important;
}