.email-container {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-field {
    width: 66%;
    height: 3.5rem;
    text-align: center;
}

.send-btn {
    border: 0;
    transition: 0.5s all;
    color: #fff;
}

.send-btn:hover {
    background-color: transparent !important;
    outline: none;
    border: 2px solid orange;
    color: black;
}

@media screen and (max-width: 992px) {
    .email-container {
        width: 85% !important;
    }
}